@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

//Fuentes y colores

$font-titulo1-font-family: "Outfit", sans-serif;
$font-titulo1-line-height: 135%;

$font-titulo2-line-height: 135%;
$font-titulo2-font-family: "Outfit", sans-serif;

$font-titulo3-line-height: 135%;
$font-titulo3-font-family: "Outfit", sans-serif;

$font-subtitulo-line-height: 135%;
$font-subtitulo-font-family: "Outfit", sans-serif;

$font-body-line-height: 165%;
$font-body-font-family: "Outfit", sans-serif;

$font-bodyHigh-line-height: 165%;
$font-bodyHigh-font-family: "Outfit", sans-serif;

$font-boton-line-height: 135%;
$font-boton-font-family: "Outfit", sans-serif;

$font-smallText-line-height: 135%;
$font-smallText-font-family: "Outfit", sans-serif;

$font-topText-line-height: 135%;
$font-topText-font-family: "Outfit", sans-serif;

@media (min-width: 1025px) {
  :root {
    //Fuentes
    --font-titulo1-font-size: max(36px, 2.64vw);
    --font-titulo2-font-size: max(30px, 2.2vw);
    --font-titulo3-font-size: max(22px, 1.61vw);
    --font-subtitulo-font-size: max(18px, 1.32vw);
    --font-body-font-size: max(16px, 1.17vw);
    --font-bodyHigh-font-size: max(16px, 1.17vw);
    --font-boton-font-size: max(16px, 1.17vw);
    --font-smallText-font-size: max(14px, 1.02vw);
    --font-topText-font-size: max(16px, 1.17vw);
    //Gap
    --gap-t1: 40px;
  }
}

@media (min-width: 767.99px) and (max-width: 1024.99px) {
  :root {
    --font-display1-font-size: max(90px, 6.61vw);
    --font-titulo1-font-size: clamp(36px, 4.68vw, 40px);
    --font-titulo2-font-size: max(30px, 3.9vw);
    --font-titulo3-font-size: max(22px, 2.86vw);
    --font-subtitulo-font-size: max(18px, 2.34vw);
    --font-body-font-size: clamp(16px, 2.08vw, 20px);
    --font-bodyHigh-font-size: max(16px, 2.08vw);
    --font-boton-font-size: max(16px, 2.08vw);
    --font-smallText-font-size: max(14px, 1.82vw);
    --font-topText-font-size: max(16px, 2.08vw);
    //Gap
    --gap-t1: 20px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-titulo1-font-size: clamp(36px, 8.73vw, 42px);
    --font-titulo2-font-size: clamp(30px, 7.28vw, 36px);
    --font-titulo3-font-size: clamp(22px, 5.33vw, 28px);
    --font-subtitulo-font-size: clamp(18px, 4.36vw, 22px);
    --font-body-font-size: clamp(16px, 3.88vw, 18px);
    --font-bodyHigh-font-size: clamp(16px, 3.88vw, 18px);
    --font-boton-font-size: clamp(16px, 3.88vw, 18px);
    --font-smallText-font-size: clamp(14px, 3.39vw, 18px);
    --font-topText-font-size: clamp(16px, 3.88vw, 18px);
    //Gap
    --gap-t1: 20px;
  }
}

:root {
  --color-neutral900: #000000;
  --color-neutral800: #000000;
  --color-neutral700: #31333b;
  --color-neutral150: #f1f1f1;
  --color-neutral100: #000000;
  --color-neutral0: #000000;
  --color-primary800: #0000b2;
  --color-primary700: #2b00d5;
  --color-primary500: #0047ff;
  --color-primary300: #ccdaff;
  --color-primary100: #e6edff;
  --color-secondary800: #3d00a7;
  --color-secondary700: #5e00ff;
  --color-secondary500: #9e66ff;
  --color-secondary300: #dfccff;
  --color-secondary100: #f2ebff;
  --color-alternative700: #e50e89;
  --color-alternative500: #ef6eb8;
  --color-alternative300: #facfe7;
  --color-alternative100: #fdf3f9;
  --color-tP100: #001038;
  --color-pP100: #0c2460;
  --color-tS100: #130035;
  --color-pS100: #341766;
  --color-success700: #10704d;
  --color-success600: #169667;
  --color-success300: #d1f1e6;
}

$color-neutral900: #000000;
$color-neutral800: #000000;
$color-neutral700: #31333b;
$color-neutral150: #f1f1f1;
$color-neutral100: #000000;
$color-neutral0: #000000;
$color-primary800: #0000b2;
$color-primary700: #2b00d5;
$color-primary500: #0047ff;
$color-primary300: #ccdaff;
$color-primary100: #e6edff;
$color-secondary800: #3d00a7;
$color-secondary700: #5e00ff;
$color-secondary500: #9e66ff;
$color-secondary300: #dfccff;
$color-secondary100: #f2ebff;
$color-alternative700: #e50e89;
$color-alternative500: #ef6eb8;
$color-alternative300: #facfe7;
$color-alternative100: #fdf3f9;
$color-tP100: #001038;
$color-pP100: #0c2460;
$color-tS100: #130035;
$color-pS100: #341766;
$color-success700: #10704d;
$color-success600: #169667;
$color-success300: #d1f1e6;

//Titulos

.titulo1 {
  font-family: $font-titulo1-font-family;
  font-size: var(--font-titulo1-font-size);
  line-height: $font-titulo1-line-height;
}

.titulo1-regular {
  @extend .titulo1;
  font-weight: 400;
}

.titulo1-bold {
  @extend .titulo1;
  font-weight: 600;
}

.titulo2 {
  font-family: $font-titulo2-font-family;
  font-size: var(--font-titulo2-font-size);
  line-height: $font-titulo2-line-height;
}

.titulo2-regular {
  @extend .titulo2;
  font-weight: 400;
}

.titulo2-bold {
  @extend .titulo2;
  font-weight: 600;
}

.titulo3 {
  font-family: $font-titulo3-font-family;
  font-size: var(--font-titulo3-font-size);
  line-height: $font-titulo3-line-height;
}

.titulo3-regular {
  @extend .titulo3;
  font-weight: 400;
}

.titulo3-bold {
  @extend .titulo3;
  font-weight: 600;
}

.body {
  font-family: $font-body-font-family;
  font-size: var(--font-body-font-size);
  line-height: $font-body-line-height;
}

.body-regular {
  @extend .body;
  font-weight: 300;
}

.body-bold {
  @extend .body;
  font-weight: 600;
}

.smallText {
  font-family: $font-smallText-font-family;
  font-size: var(--font-smallText-font-size);
  line-height: $font-smallText-line-height;
}

.smallText-regular {
  @extend .smallText;
  font-weight: 400;
}

.smallText-bold {
  @extend .smallText;
  font-weight: 600;
}

.subtitulo {
  font-family: $font-subtitulo-font-family;
  font-size: var(--font-subtitulo-font-size);
  line-height: $font-subtitulo-line-height;
}

.subtitulo-regular {
  @extend .subtitulo;
  font-weight: 400;
}

.subtitulo-bold {
  @extend .subtitulo;
  font-weight: 600;
}

//Colores
.color-primary {
  color: $color-primary800;
}

.color-body {
  color: $color-neutral700;
}

.color-neutral900 {
  color: $color-neutral900;
}

//Botones

$primary-color: $color-primary700;
$secondary-color: $color-secondary700;
$white: #fff;

.btn1 {
  font-size: var(--font-boton-font-size) !important;
  font-family: $font-boton-font-family !important;
  line-height: 100% !important;
  border-radius: 20px !important;
  padding: 15px 30px !important;
  font-weight: 600 !important;
  border-color: rgba(255, 255, 255, 0) !important;

  &-t1,
  &-t1:hover {
    color: $white !important;
    background: rgba(55, 156, 53, 0.7) !important;
  }

  &-t2,
  &-t2:hover {
    color: $primary-color !important;
    background: $white !important;
  }
}

@media (min-width: 1025px) {
  :root {
    --padding-lr-t1: max(40px, 2.94vw);
    --padding-lr-t2: max(60px, 4.41vw);
    --padding-lr-t3: max(80px, 5.88vw);
    --padding-lr-t4: max(136px, 10vw);
    --padding-tb-t1: max(40px, 2.94vw);
    --padding-tb-t2: max(60px, 4.41vw);
    --padding-tb-t3: max(80px, 5.88vw);
    --padding-tb-t4: max(120px, 8.82vw);
  }
}

@media (min-width: 767.99px) and (max-width: 1024.99px) {
  :root {
    --padding-lr-t1: 60px;
    --padding-lr-t2: 60px;
    --padding-lr-t3: 60px;
    --padding-lr-t4: 60px;
    --padding-tb-t1: 40px;
    --padding-tb-t2: 60px;
    --padding-tb-t3: 80px;
    --padding-tb-t4: 120px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --padding-lr-t1: clamp(30px, 7.28vw, 60px);
    --padding-lr-t2: clamp(30px, 7.28vw, 60px);
    --padding-lr-t3: clamp(30px, 7.28vw, 60px);
    --padding-lr-t4: clamp(30px, 7.28vw, 60px);
    --padding-tb-t1: 40px;
    --padding-tb-t2: 60px;
    --padding-tb-t3: 80px;
    --padding-tb-t4: 120px;
  }
}

.padding-t1 {
  padding-left: var(--padding-lr-t3);
  padding-right: var(--padding-lr-t3);
  padding-top: 100px;
  padding-bottom: 100px;

  &-scroll {
    padding-left: 0px;
    padding-right: var(--padding-lr-t4);
    padding-top: var(--padding-tb-t3);
    padding-bottom: var(--padding-lr-t3);
  }
}

.padding-lr-t1 {
  padding-left: var(--padding-lr-t3);
  padding-right: var(--padding-lr-t3);
}

.padding-lr-t2 {
  padding-left: var(--padding-lr-t4);
  padding-right: var(--padding-lr-t4);
}

.padding-tb-t1 {
  padding-top: var(--padding-tb-t3);
  padding-bottom: var(--padding-tb-t3);
}

.padding-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-lr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

//Margenes

.margin-b {
  &-0 {
    margin-bottom: 0px;
  }

  &-4 {
    margin-bottom: 4px;
  }

  &-8 {
    margin-bottom: 8px;
  }

  &-16 {
    margin-bottom: 16px;
  }

  &-24 {
    margin-bottom: 24px;
  }

  &-32 {
    margin-bottom: 32px;
  }

  &-40 {
    margin-bottom: 40px;
  }

  &-60 {
    margin-bottom: 60px;
  }
}

a {
  color: black;
  text-decoration: none;
}

input[type="search"]:focus {
  outline: none;
}
