#switcherContainer {
  background-color: #d7ebd7 !important;
  border-radius: 1000px;
  width: max-content;
}

.tab-button {
  background: #379c35 !important;
  gap: 8px;
  padding: 15px 25px !important;
  border-radius: 1000px !important;
  font-family: "Outfit", sans-serif !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  border-style: none;
  line-height: 135% !important;
}

.active {
  background-color: #000;
  color: #fff;
}

.normal {
  background-color: #d7ebd7 !important;
  color: #379c35 !important;
}