#searchModalBox {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;

  & #closeModal {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
  }

  & #search-div-1 {
    display: flex;
    padding: 10px 20px;
    border-radius: 500px;
    background: rgba(55, 156, 53, 0.7);
    gap: 8px;

    & #search-input-1 {
      background: initial;
      border-style: none;
      color: #fff;
      &::placeholder {
        color: #ffffff !important;
      }
    }
  }
}
